<!-- <p>forgot-password works!</p> -->

<section class="page-wrapper container">
  <div class="page-left">
      <a href="#" class="logo"><img src="assets/images/r2s-logo.svg" alt="Ready2Sign Logo" /></a>

      <h1>Forgot password</h1>

      <form class="signup-form" [formGroup]="forgotForm">
          <p>
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" placeholder="catherine.shaw@gmail.com" class="text-field">

              <label *ngIf="submitted && f.email.errors && f.email.errors.required" class="alert-red">Please enter email</label>
              <label *ngIf="submitted && f.email.errors && f.email.errors.email" class="alert-red">Please enter registered email address</label>

            </p>
          <div class="buttons-sec reset-pass">
              <a class="blue-btn btn pointer" (click)="resetPassword()">Reset my password</a>
          </div>
      </form>
  </div>
  <div class="page-right">
      <div class="image-block"></div>
  </div>
</section>
