<!-- <p>forgot-password works!</p> -->

<section class="page-wrapper container">
  <div class="page-left">
      <a href="#" class="logo"><img src="assets/images/r2s-logo.svg" alt="Ready2Sign Logo" /></a>

      <!-- <h1 class="h1-header">Forgot password</h1> -->
      <h1 class="h1-header">Forgotten your password?</h1>
      <!-- <span class="p-top-header">Forgotten your password?</span> -->
      <p class="p-header">To reset your password, enter the email address you use to login to Ready2sign. A link will be emailed to this address which will let you reset your password.</p>

      <form class="signup-form" [formGroup]="forgotForm">
          <p>
              <!-- <label for="email">Email</label> -->
              <input type="email" id="email" formControlName="email" placeholder="Email address" class="text-field"
              [ngClass]="f.email.valid ? 'border-bottom-green' : 'border-bottom-red'">

              <label *ngIf="submitted && f.email.errors && f.email.errors.required" class="alert-red">Please enter email</label>
              <label *ngIf="submitted && f.email.errors && f.email.errors.email" class="alert-red">Please enter registered email address</label>

              <label *ngIf="success" class="alert-green">{{successRes}}</label>
              <label *ngIf="error" class="alert-red">{{errorRes}}</label>

            </p>
          <div class="buttons-sec reset-pass">
            <a class="blue-btn btn pointer" (click)="resetPassword()">Send link</a>
            <a class="lightblue-btn btn pointer btn-cancel" [routerLink]="['/login']">Cancel</a>
          </div>
      </form>
  </div>
  <div class="page-right">
      <div class="image-block"></div>
  </div>
</section>
