<!-- <p>reset-password works!</p> -->

<section class="page-wrapper container">
  <div class="page-left">
      <a href="#" class="logo"><img src="assets/images/r2s-logo.svg" alt="Ready2Sign Logo" /></a>

      <h1>Reset your password</h1>

      <form class="signup-form" [formGroup]="resetForm">
          <p>
            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword" formControlName="oldPassword" placeholder="**********" class="text-field">
            <label *ngIf="submitted && f.oldPassword.errors && f.oldPassword.errors.required" class="alert-red">Old Password is required</label>
            <label *ngIf="f.oldPassword.errors && f.oldPassword.errors.minlength" class="alert-red">Old Password must be at least 6 characters</label>

          </p>
          <p>
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" placeholder="**********" class="text-field">
            <label *ngIf="submitted && f.password.errors && f.password.errors.required" class="alert-red">Password is required</label>
            <label *ngIf="f.password.errors && f.password.errors.minlength" class="alert-red">Password must be at least 6 characters</label>

          </p>
          <p>
            <label for="password">Confirm your password</label>
            <input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="**********" class="text-field success">
            <label *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required" class="alert-red">Confirm Password is required</label>
            <label *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.mustMatch" class="alert-red">Passwords must match</label>
          </p>
          <div class="buttons-sec reset-pass">
              <a class="blue-btn btn pointer" (click)="resetPassword()">Reset password</a>
          </div>
      </form>

      <div class="other-options">
          <a href="#" class="facebook"></a>
          <a href="#" class="google"></a>
          <span>Or sign in with</span>
      </div>
  </div>
  <div class="page-right">
      <div class="image-block"></div>
  </div>
</section>
