<!-- <div class="sidebar-logo">
  <a href="#" class="logomini"><img src="assets/images/logo-sm.png" alt="Sidebar Logo" /></a>
</div> -->

<div class="sidebar-logo">
  <a href="#" class="expended-sidebar-logo"><img src="assets/images/logo.svg" alt="Sidebar Logo" /></a>
  <a href="#" class="collapsed-sidebar-logo"><img src="assets/images/logo-sm.svg" alt="Sidebar Logo" /></a>
</div>

<div class="sidebar-links" (click)="closeOption()">
  <ul class="nav">
      <li routerLinkActive="active" [routerLink]="['/admin/home']" class="documents pointer active" [ngClass]="{'active': activeclass == 'home'}"  (click)="home()" *ngIf="currentUser.role == 'Admin' || currentUser.role == 'Manager' || currentUser.role == 'Standard' || currentUser.role == 'SuperAdmin'"><a  >Documents</a></li>
      <li routerLinkActive="active" [routerLink]="['/admin/templates']" class="template pointer" [ngClass]="{'active': activeclass == 'templates'}"  (click)="templates()" *ngIf="currentUser.role == 'Admin' || currentUser.role == 'Manager' || currentUser.role == 'SuperAdmin'"><a  >Templates</a></li>
      <li routerLinkActive="active" [routerLink]="['/admin/settings']" class="settings pointer" [ngClass]="{'active': activeclass == 'settings'}"  (click)="setting()" *ngIf="currentUser.role == 'Admin' || currentUser.role == 'SuperAdmin'"><a  >Settings</a></li>
      <li class="help-center pointer"><a >Support</a></li>
  </ul>
</div>

<div class="sidebar-footer">
  <div class="selected-account" (click)="closeOption()">
      <label for="select_account">Selected account</label>
      <select id="select_account" class="sidebar-select" [(ngModel)]="selectedaccount" (change)="accountChange($event)">
        <option *ngFor="let ac of userAccounts" [value]="ac.Id" [disabled]="ac.StatusId !== constant.UserStatus_Active ? true : false">{{ac.Name}}</option>
      </select>
  </div>

  <div class="user-info" (clickOutside)="onClickedOutside()">
      <!-- <div class="user-image" (click)="profileoption()" >
          <img src="assets/images/user-image-profile.svg" alt="User Image" />
          <span class="status"></span>
      </div> -->
      <h3 class="large pointer" (click)="profileoption()">
        <span>{{firstCharacter(userName)}}</span>
      </h3>
      <span class="userName">{{userName}}</span>

      <a (click)="optionChange()" class="more-info-sec active pointer"></a>

      <ol class="other-popup" *ngIf="pro_options">
        <li class="profile pointer" (click)="viewProfile()"><a href="javascript:void(0);">View profile</a></li>
        <li class="signout pointer" (click)="signOut()"><a>Sign out</a></li>
      </ol>
      <ul class="info-popup-sm" *ngIf="options">
          <li class="profile pointer" (click)="viewProfile()"><a href="javascript:void(0);">View profile</a></li>
          <li class="signout pointer" (click)="signOut()"><a>Sign out</a></li>
      </ul>
  </div>
</div>
