
RTSWeb/.vs/RTS/DesignTimeBuild/.dtbcache
*.dll
*.lock
*.config
RTSWeb/.vs/RTS/v16/.suo
RTSWeb/.vs/RTS/v16/Server/sqlite3/storage.ide
RTSWeb/.vs/RTS/v16/Server/sqlite3/storage.ide-shm
RTSWeb/.vs/RTS/v16/Server/sqlite3/storage.ide-wal
RTSWeb/RTS.Web/bin/roslyn/Microsoft.CSharp.Core.targets
RTSWeb/RTS.Web/bin/RTS.Core.dll
RTSWeb/RTS.Web/bin/RTS.Core.pdb
RTSWeb/RTS.Web/bin/RTS.Data.dll
RTSWeb/RTS.Web/bin/RTS.Data.pdb
RTSWeb/RTS.Web/bin/RTS.Domain.dll
RTSWeb/RTS.Web/bin/RTS.Domain.pdb
RTSWeb/RTS.Web/bin/RTS.Model.dll
RTSWeb/RTS.Web/bin/RTS.Model.pdb
RTSWeb/RTS.Web/bin/RTS.Web.dll
RTSWeb/RTS.Web/bin/RTS.Web.pdb
RTSWeb/RTS.Web/bin/RTS.Core.dll
RTSWeb/RTS.Web/bin/RTS.Core.pdb
RTSWeb/RTS.Web/bin/RTS.Data.dll
RTSWeb/RTS.Web/bin/RTS.Data.pdb
RTSWeb/RTS.Web/bin/RTS.Domain.dll
RTSWeb/RTS.Web/bin/RTS.Domain.pdb
RTSWeb/RTS.Web/bin/RTS.Model.dll
RTSWeb/RTS.Web/bin/RTS.Model.pdb
RTSWeb/RTS.Web/bin/RTS.Web.dll
RTSWeb/RTS.Web/bin/RTS.Web.pdb
*.dll
*.dll
*.dll
*.pdb
*.dll
RTSWeb/RTS.Core/bin/Debug/netstandard2.0/RTS.Core.dll
RTSWeb/RTS.Core/bin/Debug/netstandard2.0/RTS.Core.pdb
/RTSWeb/packages/Microsoft.AspNet.Cors.5.2.7
.DS_Store
