<section class="page-wrapper container">
    <div class="page-left">
        <a href="#" class="logo"><img src="assets/images/r2s-logo.svg" alt="Ready2Sign Logo" /></a>
        <div class="thankyou-wrapper">
            <!-- <p style="font-size: 18px;">Thank you for signing the Document.</p> -->

            <p style="font-size: 18px;">Your document has been successfully submitted.</p>
            <p style="font-size: 13px;">A copy of the document will be emailed to you once it is completed by all parties.</p>
        </div>
    </div>
    <div class="page-right">
        <div class="image-block"></div>
    </div>
</section>
