<!-- <p>password-conformation works!</p> -->

<section class="page-wrapper container">
  <div class="page-left">
      <a href="#" class="logo"><img src="assets/images/r2s-logo.svg" alt="Ready2Sign Logo" /></a>

      <h1>Reset your password</h1>

      <form class="signup-form" [formGroup]="resetForm">
          <p>
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" placeholder="catherine.shaw@gmail.com" class="text-field">
              <label *ngIf="submitted && f.email.errors && f.email.errors.required" class="alert-red">Email is required</label>
              <label *ngIf="submitted && f.email.errors && f.email.errors.email" class="alert-red">Email must be a valid email address</label>

          </p>
          <p>
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" placeholder="**********" class="text-field"
              [ngClass] = "{'success' : passwrd == true}" (keyup)="PasswordChange($event)">
              <label *ngIf="submitted && f.password.errors && f.password.errors.required" class="alert-red">Password is required</label>
              <label *ngIf="f.password.errors && f.password.errors.minlength" class="alert-red">Password must be at least 6 characters</label>
          </p>
          <p>
              <label for="password">Confirm your password</label>
              <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="**********" class="text-field"
              [ngClass] = "{'success' : passMatch == true}" (keyup)="confirmPasswordChange($event)">
              <label *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required" class="alert-red">Confirm Password is required</label>
              <label *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.mustMatch" class="alert-red">Passwords must match</label>

          </p>
          <div class="buttons-sec reset-pass">
              <!-- <span>Password changed</span> -->
              <a class="blue-btn btn pointer" (click)="resetPassword()" *ngIf="!showLoginButton">Reset password</a>
              <div class="return-box" *ngIf="showLoginButton">
                <span >Password changed</span>
                <a class="blue-btn btn pointer grn" routerLink='/login' *ngIf="showLoginButton">Retrun to Login</a>
              </div>
              <!-- <a href="#" class="blue-btn btn">Retrun to login</a> -->
          </div>
      </form>

      <div class="other-options">
        <span class="margin-right">Or sign in with</span>
        <a href="#" class="facebook"></a>
        <a href="#" class="google"></a>
          
      </div>
  </div>
  <div class="page-right">
      <div class="image-block"></div>
  </div>
</section>
