.alert-red{
  color: red;
  margin-top: 2px;
}
.pointer{
  cursor: pointer;
}
.margin-right{
  margin-right:6px;
}
.text-field {
  border: none;
  border-bottom: 1px solid #F0F0F3;
  width: 100%;
  padding: 5px 0 18px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #1C1D21;
}
.grn
{background: #7ce7ac;}
.return-box{width: 100%;; display: flex; justify-content: space-between;align-items: center;}
