<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<section class="page-wrapper container">
    <div class="page-left">
        <a href="#" class="logo"><img src="assets/images/r2s-logo.svg" alt="Ready2Sign Logo" /></a>

        <!-- <h1>Login</h1> -->
        <label *ngIf="showLoginError && errorMessage" class="full-error alert-red">{{errorMessage}}</label>
        <form (keyup.enter)="onSubmit()" class="signup-form" [formGroup]="loginForm">
            <p>
              <!-- <label for="username">User name</label> -->
              <input type="text" id="user-name" formControlName="username" class="text-field" placeholder="Email address"/>

              <label *ngIf="submitted && f.username.errors  && f.username.errors.required" class="alert-red">Please enter email address</label>
            </p>

            <div class="drop-area">
              <svg *ngIf="!showPassword" _ngcontent-nuq-c172="" (click)="showpass()" xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path _ngcontent-nuq-c172="" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path _ngcontent-nuq-c172="" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>

              <svg *ngIf="showPassword" _ngcontent-nuq-c172="" (click)="showpass()" xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path _ngcontent-nuq-c172="" d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path _ngcontent-nuq-c172="" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg>

              <p>
                <!-- <label for="password">Password</label> -->
                <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" class="text-field" placeholder="Password"/>

                <label *ngIf="submitted && f.password.errors?.required" class="alert-red">Please enter password</label>
                <!-- <label *ngIf="submitted && f.password.errors?.minlength" class="alert-red">Please enter min. of six character</label> -->
                <span class="text-right pt-10 d-block frgt_pwd"><a class="btn-link" [routerLink]="['/forgot-password']">forgot password ?</a></span>
              </p>
            </div>

              <div class="buttons-sec login-pg">
                  <a class="blue-btn btn pointer" (click)="onSubmit()">Sign In</a>
                  <!-- <a class="lightblue-btn btn pointer" [routerLink]="['/sign-up']">Create new account</a> -->
              </div>


        </form>

        <!-- <div class="other-options">
            <span class="margin-right">Or sign in with</span>
            <a href="#" class="facebook"></a>
            <a href="#" class="google"></a>
        </div> -->
    </div>
    <div class="page-right">
        <div class="image-block"></div>
    </div>
  </section>
